body.swal2-shown {
  padding-right: 0 !important;
}
html {
  overflow-y: scroll;
}

.kg-swal-icon {
  border: none !important;
  background: transparent !important;
}

.swal2-icon {
  margin-top: 8px !important;
}

.swal2-popup {
  border-radius: 16px !important;
  font-family: inherit;
}
